footer.footer
	.container.footer__container
		.footer__adv
			span Реклама
			.footer__adv-tooltip
				.footer__adv-tooltip-block.
					erid:  <br>
					Рекламодатель:  <br>
					ИНН/ОГРН:  <br>
					Сайт: <a href="" target="_blank"></a>
