.horizontal-slider {
	overflow: hidden;
	padding: 0 0 120px;

	@include max(tl) {
		padding: 0 0 120px;
	}

	@include max(ti) {
		padding: 0 0 60px;
	}

	&__text {
		margin-top: 28px;

		@include max(tl) {
			margin-top: 10px;
		}

		&:first-child,
		&:only-child {
			margin-top: 0;
		}
	}

	&__slider {
		position: relative;
		width: 100%;
		margin-top: 22px;

		.swiper:not(.other-articles) {
			overflow: visible;
		}

		.other-articles .slider-card__image img {
			aspect-ratio: 16 / 10;
		}
	}

	&__nav {
		bottom: -89px;
		right: 55px;
		justify-content: flex-end;

		@include max(tl) {
			right: unset;
			justify-content: center;
		}

		@include max(ti) {
			bottom: -46px;
		}
	}
}
