.text-columns {
	$parent: &;

	padding: 0 0 53px;

	@include max(tl) {
		padding: 0 0 40px;
	}

	&__wrapper {
		//gap: 8px;
		margin-top: 14px;
		column-count: 2;

		@include max(ti) {
			column-count: 1;
		}
	}

	&--titles {
		#{$parent} {
			&__wrapper {
				display: grid;
				grid-template-columns: 7fr 8fr;
				gap: 100px;
				margin-top: 0;
				column-count: unset;

				@include max(tl) {
					grid-template-columns: 1fr 1fr;
				}

				@include max(ti) {
					gap: 20px;
					grid-template-columns: 1fr;
					column-count: unset;
				}
			}

			&__text {
				margin-top: 23px;

				@include max(ti) {
					margin-top: 10px;
				}
			}
		}
	}
}
