.title {
	color: $color-title;
	font-weight: 400;
	font-size: 80px;
	line-height: 1.18;

	@include max(d) {
		font-size: fluid(60, 80, 992, 1280);
	}

	@include max(tl) {
		font-size: fluid(40, 60, 768, 992);
	}

	@include max(ti) {
		font-size: fluid(22, 40, 0, 768);
	}
}