extends ../layouts/default

block vars
	-
		const page = {
			title: 'Линдекс'
		};

block header
	include ../blocks/header-inner

block main
	.article-block
		.container.container--big
			.article-block__top
				.article-block__top-group
					h1.article-block__title ИЦ ТЕЛЕКОМ-СЕРВИС создал инфраструктуру для новой штаб-квартиры Т-Банка
					.article-block__annonce.
						Современные офисные пространства требуют надежных инженерных и&nbsp;ИТ-решений, обеспечивающих бесперебойную работу
						сотрудников и&nbsp;высокую эффективность бизнес-процессов. При переезде Т-Банка в&nbsp;новую штаб-квартиру в
						БЦ AFI Square была поставлена амбициозная задача: создать технологическую инфраструктуру,
						соответствующую самым высоким стандартам. За ее реализацию отвечал ИЦ ТЕЛЕКОМ-СЕРВИС — ведущий
						интегратор в сфере телекоммуникаций и&nbsp;инженерных систем.
				svg.article-block__image(width='616' height='600' viewBox='0 0 616 600' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M598.114 382.49L621.16 369.147' stroke='white')
					path(d='M598.114 387.645L621.16 374.302' stroke='white')
					path(d='M598.114 442.227L621.16 428.885' stroke='white')
					path(d='M598.114 464.06L621.16 450.718' stroke='white')
					path(d='M598.114 521.068L621.16 507.726' stroke='white')
					path(d='M598.114 527.74L621.16 514.397' stroke='white')
					path(d='M598.417 545.024L621.16 533.501' stroke='white')
					path(d='M370.687 477.099L386.455 468.002' stroke='white')
					path(d='M394.946 465.88L413.14 454.053' stroke='white')
					path(d='M297.304 537.14V516.216L315.498 506.21V527.436M297.304 537.14L315.498 527.436M297.304 537.14V542.598M315.498 527.436V532.591M315.498 532.591L297.304 542.598M315.498 532.591V577.773M297.304 542.598V587.78M297.304 587.78V596.489H315.498V577.773M297.304 587.78L315.498 577.773M322.776 595.664V596.489H338.241V587.78M322.776 595.664L338.241 587.78M322.776 595.664V575.954M338.241 587.78V567.463M338.241 567.463L322.776 575.954M338.241 567.463V521.371M322.776 575.954V529.255M322.776 529.255L338.241 521.371M322.776 529.255V523.797M338.241 521.371V516.216M338.241 516.216V494.383L322.776 502.571V523.797M338.241 516.216L322.776 523.797' stroke='white')
					path(d='M0.739685 585.354C25.5038 569.283 77.3367 536.473 86.5551 533.804C98.078 530.469 101.11 519.552 166.003 525.314L232.411 532.591' stroke='white')
					path(d='M0.739685 478.312C25.823 457.781 83.6431 416.996 119.956 408.272C125.914 406.84 132.075 407.058 138.172 407.673L231.198 417.059' stroke='white')
					path(d='M276.078 214.8V385.218' stroke='white')
					path(d='M314.285 220.259V360.656' stroke='white')
					path(d='M351.28 225.514V336.701' stroke='white')
					path(d='M387.062 230.569V313.958' stroke='white')
					path(d='M425.27 227.536V289.396' stroke='white')
					path(d='M457.413 232.388V268.473' stroke='white')
					path(d='M502.291 239.362L230.896 414.936M230.896 414.936L231.201 439.195M230.896 414.936L234.534 417.968L839.489 37.7107C860.837 24.8536 879.112 20.8306 885.581 20.4263L970.79 7.69043V41.6528L900.743 49.2337C871.147 52.3873 862.939 55.3995 862.535 56.5113L232.075 440.104M231.201 439.195L232.412 535.32L236.657 534.107V445.259L232.075 440.104M231.201 439.195L231.805 439.801L232.075 440.104' stroke='white' stroke-width='2')
					path(d='M530.492 222.381L133.254 162.037C101.474 158.156 81.1981 171.741 75.0324 179.019L1.04297 246.337V266.35L75.0324 202.974C89.8302 185.508 120.012 182.759 133.254 183.567L502.291 239.362L530.492 222.381ZM530.492 222.381L538.679 216.62' stroke='white' stroke-width='2')
					path(d='M133.557 110.791L1.04297 229.962V241.485C10.0389 232.994 35.4298 209.342 65.0256 182.657C89.1072 160.944 94.2766 158.304 111.866 155.787C121.412 154.421 131.121 154.587 140.654 156.038L538.679 216.62L591.138 183.264L133.557 110.791Z' stroke='white' stroke-width='2')
					path(d='M133.557 111.094L102.324 157.489' stroke='white' stroke-width='2')
					path(d='M0.739685 318.507C56.749 269.933 78.9331 247.487 109.007 238.919C123.185 234.88 138.196 236.139 152.798 238.163L439.218 277.873L442.25 278.177' stroke='white')
					path(d='M0.739685 332.456C56.7458 283.884 78.9305 261.64 109.002 253.146C123.189 249.139 138.196 250.391 152.798 252.415L285.023 270.747L362.12 281.436L400.669 286.781L419.944 289.453L424.056 290.003' stroke='white')
					path(d='M0.739685 370.36C57.9036 324.827 79.3227 303.326 109 294.979C123.191 290.988 138.196 292.237 152.798 294.262L285.023 312.594L362.12 323.283L370.687 324.572' stroke='white')
					path(d='M0.739685 385.219C59.0943 340.711 79.7449 317.576 109.055 308.579C123.148 304.252 138.196 305.58 152.798 307.604L285.023 325.936L323.572 331.281L342.846 333.953L352.483 335.289H354.312' stroke='white')
					path(d='M0.739685 421.607C62.6853 375.338 81.4131 358.161 111.24 351.62C124.097 348.801 137.414 349.586 150.491 351.085L302.762 368.541' stroke='white')
					path(d='M0.739685 439.195C60.6574 393.124 80.6532 373.806 110.704 366.493C123.868 363.289 137.605 364.203 151.056 365.823L281.838 381.58' stroke='white')
					path(d='M0.739685 279.087L79.5808 211.162C90.4973 202.369 102.02 191.147 159.938 197.819L490.768 246.034H491.981' stroke='white')
					path(d='M14.082 267.867L14.3853 306.681V596.49' stroke='white')
					path(d='M29.2439 254.828V293.338V596.49' stroke='white')
					path(d='M44.7089 241.485V280.299V596.49' stroke='white')
					path(d='M60.4772 227.536V266.957V596.49' stroke='white')
					path(d='M78.9745 211.768V253.311V596.49' stroke='white')
					path(d='M101.414 198.122L100.567 596.489' stroke='white')
					path(d='M129.312 196V596.489' stroke='white')
					path(d='M163.577 198.426V596.49' stroke='white')
					path(d='M199.966 203.581V596.49' stroke='white')
					path(d='M239.083 209.342V409.477' stroke='white')
					path(d='M0.739685 492.867L83.826 435.859C91.9122 428.986 118.516 417.059 160.241 424.336L230.895 432.524' stroke='white')
					path(d='M0.739685 533.501C27.7276 513.791 86.2518 473.46 104.446 469.822C127.188 465.273 133.86 465.576 147.202 466.486C157.876 467.214 207.849 472.854 231.501 475.583' stroke='white')
					path(d='M0.739685 548.966C27.4243 529.256 85.5847 488.683 104.749 484.074C123.914 479.465 150.335 480.738 161.151 481.951L231.804 490.442' stroke='white')
					path(d='M2.25592 599C29.0416 578.481 89.2236 538.353 120.517 537.14C151.811 535.927 202.087 541.891 223.314 545.024' stroke='white')
					path(d='M68.8427 596.49C84.3076 589.819 106.266 572.922 169.945 581.109L224.83 586.871' stroke='white')
					path(d='M249.09 490.745V441.621L262.129 432.827V483.77M249.09 490.745L262.129 483.77M249.09 490.745V511.971M262.129 483.77V504.087M249.09 511.971V527.436L262.129 520.462V504.087M249.09 511.971L262.129 504.087' stroke='white')
					path(d='M271.832 478.312V427.975L284.568 420.091V471.641M271.832 478.312L284.568 471.641M271.832 478.312V498.932M284.568 471.641V491.351M271.832 498.932V515.307L284.568 508.19V491.351M271.832 498.932L284.568 491.351' stroke='white')
					path(d='M289.723 468.608V417.665L303.066 408.265V461.331M289.723 468.608L303.066 461.331M289.723 468.608V486.499M303.066 461.331V478.767M289.723 486.499V504.997L303.066 498.022V478.767M289.723 486.499L303.066 478.767' stroke='white')
					path(d='M314.285 454.963V403.413L330.054 393.103V445.866M314.285 454.963L330.054 445.866M314.285 454.963V474.521M330.054 445.866V465.273M314.285 474.521V491.654L330.054 483.164V465.273M314.285 474.521L330.054 465.273' stroke='white')
					path(d='M337.938 442.53V387.948L353.706 378.548V433.13M337.938 442.53L353.706 433.13M337.938 442.53V462.847M353.706 433.13V453.75M337.938 462.847V478.615L353.706 469.821V453.75M337.938 462.847L353.706 453.75' stroke='white')
					path(d='M364.319 447.382V464.06L379.481 455.569V436.465M364.319 447.382L379.481 436.465M364.319 447.382V427.065M379.481 436.465V418.575M364.319 427.065V371.27L379.481 362.476V418.575M364.319 427.065L379.481 418.575M386.152 415.239V359.747L403.437 348.224V405.839M386.152 415.239L403.437 405.839M386.152 415.239V433.888M403.437 405.839V424.488M386.152 433.888V451.93L403.437 442.53V424.488M386.152 433.888L403.437 424.488M410.108 401.593V344.282L428.302 332.153V390.98M410.108 401.593L428.302 390.98M410.108 401.593V422.82M428.302 390.98V412.207M410.108 422.82V438.891L428.302 428.884V412.207M410.108 422.82L428.302 412.207M434.67 409.781V425.246L451.348 416.149V399.774M434.67 409.781L451.348 399.774M434.67 409.781V387.645M451.348 399.774V377.941M434.67 387.645V329.12L451.348 319.72V377.941M434.67 387.645L451.348 377.941' stroke='white')
					path(d='M464.994 370.966V312.139L482.582 300.313V360.96M464.994 370.966L482.582 360.96M464.994 370.966V393.103M482.582 360.96V381.58M464.994 393.103V408.264L482.582 398.561V381.58M464.994 393.103L482.582 381.58M492.285 377.031V393.406L511.995 382.489V365.811M492.285 377.031L511.995 365.811M492.285 377.031V355.501M511.995 365.811V344.282M492.285 355.501V294.854L511.995 281.209V344.282M492.285 355.501L511.995 344.282M520.789 360.96V377.638L542.925 365.205V347.011M520.789 360.96L542.925 347.011M520.789 360.96V339.43M542.925 347.011V326.997M520.789 339.43V277.57L542.925 263.318V326.997M520.789 339.43L542.925 326.997M551.113 344.282V360.96L572.339 348.83V331.243M551.113 344.282L572.339 331.243M551.113 344.282V322.449M572.339 331.243V309.713M551.113 322.449V258.769L572.339 246.337V309.713M551.113 322.449L572.339 309.713M581.739 326.997V343.675L602.663 332.152V314.868M581.739 326.997L602.663 314.868M581.739 326.997V305.164M602.663 314.868V293.338M581.739 305.164V240.879L602.663 226.93V293.338M581.739 305.164L602.663 293.338M611.76 309.713V326.997L633.81 314.868V296.674M611.76 309.713L633.81 296.674M611.76 309.713V288.183M633.81 296.674L634.051 275.447M611.76 288.183V223.291L634.806 209.039L634.051 275.447M611.76 288.183L634.051 275.447M644.206 293.338V309.106L671.497 293.641V275.447M644.206 293.338L671.497 275.447M644.206 293.338V270.292M671.497 275.447V254.524M644.206 270.292V202.974L671.497 185.69V254.524M644.206 270.292L671.497 254.524M681.807 270.292V288.183L707.885 273.931V255.737M681.807 270.292L707.885 255.737M681.807 270.292V249.369M707.885 255.737V234.511M707.885 234.511V163.554L681.807 180.535V249.369M707.885 234.511L681.807 249.369M718.499 251.492V267.866L744.88 253.008V234.511M718.499 251.492L744.88 234.511M718.499 251.492V228.446M744.88 234.511V213.587M718.499 228.446V159.005L744.88 142.024V213.587M718.499 228.446L744.88 213.587M756.051 230.265V246.943L784.301 231.175V213.587M756.051 230.265L784.301 213.587M756.051 230.265L755.988 207.523M784.301 213.587V191.451M755.988 207.523L755.797 137.475L784.301 118.068V191.451M755.988 207.523L784.301 191.451M794.914 207.523V225.11L826.754 207.523V190.238M794.914 207.523L826.754 190.238M794.914 207.523V185.69M826.754 190.238V167.496M794.914 185.69V111.7L826.754 91.6868V167.496M794.914 185.69L826.754 167.496M838.277 184.477V200.851L877.697 178.715V167.496M838.277 184.477L868.297 168.709C869.914 167.9 874.058 166.525 877.697 167.496M838.277 184.477V160.824M877.697 167.496V141.417M838.277 160.824V85.9253L877.697 62.273V141.417M838.277 160.824C846.868 154.861 866.781 142.63 877.697 141.417' stroke='white')
					path(d='M224.831 596.574V555.94C224.73 552.504 224.285 545.266 223.315 543.811C222.102 541.991 225.437 538.656 236.354 534.107C245.087 530.469 728.505 263.217 969.88 127.165L971.7 126.256' stroke='white' stroke-width='2')
					path(d='M231.502 576.561V596.427H246.967V567.464M231.502 576.561L246.967 567.464M231.502 576.561V572.619M246.967 567.464V563.218M231.502 572.619V550.786L246.967 542.295V563.218M231.502 572.619L246.967 563.218' stroke='white')
					path(d='M253.335 566.25V596.49H270.013V556.547M253.335 566.25L270.013 556.547M253.335 566.25V561.702M270.013 556.547V552.302M270.013 552.302V530.469L253.335 538.959V561.702M270.013 552.302L253.335 561.702' stroke='white')
					path(d='M276.381 548.663V527.74L293.059 518.339V539.566M276.381 548.663L293.059 539.566M276.381 548.663V553.515M293.059 539.566V544.721M293.059 544.721L276.381 553.515M293.059 544.721V588.993M276.381 553.515V596.49H278.027M278.027 596.49H293.059V588.993M278.027 596.49L293.059 588.993' stroke='white')
					path(d='M345.215 596.489V490.745L362.197 480.738' stroke='white')
					path(d='M362.197 480.738V596.489' stroke='white')
					path(d='M370.687 477.099V596.49' stroke='white')
					path(d='M386.455 468.002V596.489' stroke='white')
					path(d='M394.946 465.576V596.489' stroke='white')
					path(d='M413.14 454.053V596.489' stroke='white')
					path(d='M421.631 596.489V449.505L439.218 438.285' stroke='white')
					path(d='M439.219 438.588V596.489' stroke='white')
					path(d='M448.315 596.489V433.737L467.116 424.033' stroke='white')
					path(d='M467.116 424.033V596.489' stroke='white')
					path(d='M476.213 596.489V419.484L495.62 408.871' stroke='white')
					path(d='M495.62 408.871V596.489' stroke='white')
					path(d='M506.537 596.489V403.413L526.55 390.98' stroke='white')
					path(d='M526.55 390.98V596.489' stroke='white')
					path(d='M536.86 596.489V386.129L556.267 375.819' stroke='white')
					path(d='M556.267 375.819V596.489' stroke='white')
					path(d='M566.578 596.489V371.27L586.591 360.05' stroke='white')
					path(d='M586.591 360.05V596.489' stroke='white')
					path(d='M598.114 596.489V354.289L621.16 341.553' stroke='white')
					path(d='M345.215 514.094L362.197 505.907' stroke='white')
					path(d='M370.687 503.481L386.455 494.687' stroke='white')
					path(d='M345.215 519.552L362.197 511.365' stroke='white')
					path(d='M370.687 508.636L386.455 500.145' stroke='white')
					path(d='M345.215 565.341L362.197 556.244' stroke='white')
					path(d='M345.215 585.961L362.197 576.864' stroke='white')
					path(d='M370.687 552.908L386.455 545.024' stroke='white')
					path(d='M370.687 573.225L386.455 565.341' stroke='white')
					path(d='M394.946 541.992L413.14 531.682' stroke='white')
					path(d='M394.946 494.99L413.14 484.68' stroke='white')
					path(d='M394.946 488.926L413.14 478.616' stroke='white')
					path(d='M394.946 563.522L413.14 553.212' stroke='white')
					path(d='M421.631 528.649L439.218 519.249' stroke='white')
					path(d='M421.631 477.099L439.218 467.699' stroke='white')
					path(d='M421.631 471.034L439.218 461.634' stroke='white')
					path(d='M421.631 550.482L439.218 541.082' stroke='white')
					path(d='M448.315 515.61L467.116 505.3' stroke='white')
					path(d='M448.315 463.454L467.116 453.144' stroke='white')
					path(d='M448.315 456.782L467.116 446.472' stroke='white')
					path(d='M448.315 537.443L467.116 527.133' stroke='white')
					path(d='M448.315 589.6L467.116 579.29' stroke='white')
					path(d='M479.611 596.49L495.62 587.781' stroke='white')
					path(d='M476.213 579.29L495.62 568.98' stroke='white')
					path(d='M476.213 575.651L495.62 565.341' stroke='white')
					path(d='M476.213 524.101L495.62 513.791' stroke='white')
					path(d='M506.537 565.947L526.55 555.637' stroke='white')
					path(d='M506.537 561.702L526.55 551.392' stroke='white')
					path(d='M506.537 584.142L526.55 573.832' stroke='white')
					path(d='M506.537 508.939L526.55 498.629' stroke='white')
					path(d='M506.537 487.712L526.55 477.402' stroke='white')
					path(d='M506.537 435.556L526.55 425.246' stroke='white')
					path(d='M506.537 428.885L526.55 418.575' stroke='white')
					path(d='M536.86 413.723L556.267 402.503' stroke='white')
					path(d='M536.86 420.091L556.267 408.871' stroke='white')
					path(d='M536.86 471.641L556.267 460.421' stroke='white')
					path(d='M536.86 494.08L556.267 482.861' stroke='white')
					path(d='M536.86 548.056L556.267 536.837' stroke='white')
					path(d='M536.86 553.515L556.267 542.295' stroke='white')
					path(d='M536.86 571.102L556.267 559.883' stroke='white')
					path(d='M566.578 398.258L586.591 386.129' stroke='white')
					path(d='M566.578 404.02L586.591 391.89' stroke='white')
					path(d='M566.578 459.208L586.591 447.079' stroke='white')
					path(d='M566.578 479.828L586.894 468.609' stroke='white')
					path(d='M566.578 533.501L586.591 522.888' stroke='white')
					path(d='M566.578 539.263L586.591 528.953' stroke='white')
					path(d='M566.578 558.063L586.591 547.753' stroke='white')
					path(d='M476.213 502.268L495.62 491.958' stroke='white')
					path(d='M476.213 450.111L495.62 439.801' stroke='white')
					path(d='M476.213 443.44L495.62 433.13' stroke='white')
					path(d='M590.836 183.567L844.341 24.6716C852.73 21.5382 878.364 14.0584 913.782 9.20663L971.7 1.32252V598.999' stroke='white')
					path(d='M0.739685 229.962V599H3.16557' stroke='white')
					mask#path-126-inside-1_2070_2(fill='white')
						path(d='M0.436462 596.159H972.002V596.82H0.436462V596.159Z')
					path(d='M0.436462 596.159H972.002V596.82H0.436462V596.159Z' fill='#065388')
					path(d='M0.436462 596.159V595.159H-0.563538V596.159H0.436462ZM972.002 596.159H973.002V595.159H972.002V596.159ZM972.002 596.82V597.82H973.002V596.82H972.002ZM0.436462 596.82H-0.563538V597.82H0.436462V596.82ZM0.436462 597.159H972.002V595.159H0.436462V597.159ZM971.002 596.159V596.82H973.002V596.159H971.002ZM972.002 595.82H0.436462V597.82H972.002V595.82ZM1.43646 596.82V596.159H-0.563538V596.82H1.43646Z' fill='white' mask='url(#path-126-inside-1_2070_2)')
					path(d='M230.51 104.49L292.072 114.066L291.376 145.392C291.197 153.423 286.798 160.185 279.835 163.131L259.907 171.565L240.489 157.011C233.704 151.926 229.635 143.846 229.814 135.816L230.51 104.49Z' fill='#FFDD2D')
					path(fill-rule='evenodd' clip-rule='evenodd' d='M246.937 123.381L246.722 133.061C248.082 131.773 250.517 131.136 253.276 131.565L256.273 132.031L256.023 143.284C255.956 146.278 255.083 148.771 253.841 150.024L266.879 152.052C265.704 150.422 264.949 147.678 265.015 144.688L265.266 133.43L268.263 133.897C271.021 134.326 273.411 135.713 274.705 137.414L274.92 127.734L246.937 123.381Z' fill='#333333')
					path(d='M330.062 146.357C328.688 145.606 326.879 145.163 324.907 144.856L313.924 143.148L314 139.722L332.873 142.658L333.004 136.769L306.401 132.631L305.835 158.112L323.854 160.915C326.36 161.305 328.23 161.381 329.629 161.061C332.586 160.393 334.619 157.97 334.699 154.383C334.78 150.743 332.97 147.937 330.062 146.357ZM326.028 154.592C325.598 154.687 325.01 154.649 324.263 154.533L313.708 152.891L313.798 148.822L324.354 150.464C325.207 150.597 325.899 150.759 326.426 151.109C327.059 151.53 327.365 152.168 327.349 152.918C327.332 153.667 326.941 154.412 326.028 154.592Z' fill='white')
					path(d='M357.312 140.551L345.733 138.749L334.517 162.574L343.474 163.967L345.031 160.503L357.046 162.372L358.494 166.304L367.396 167.688L357.312 140.551ZM347.122 155.188L351.119 145.496L351.72 145.589L355.26 156.454L347.122 155.188Z' fill='white')
					path(d='M376.764 159.638L376.553 169.113L368.796 167.906L369.362 142.425L377.12 143.632L376.913 152.946L389.379 154.886L389.586 145.571L397.345 146.778L396.778 172.259L389.02 171.052L389.231 161.577L376.764 159.638Z' fill='white')
					path(d='M409.622 164.588L409.408 174.223L401.675 173.021L402.242 147.54L409.974 148.742L409.761 158.325L411.894 158.656L421.439 150.526L431.143 152.035L418.501 162.316L431.057 177.591L420.766 175.99L411.755 164.92L409.622 164.588Z' fill='white')
		.article-block__main
			.container
				.article-block__slideshow.slideshow
					.slideshow__content
						h2.article-subtitle Заказчик и исполнители проекта
						.slideshow__text.article-text
							p.
								В связи с динамичным развитием бизнеса и увеличением числа сотрудников руководство Т-Банка (ранее — Тинькофф
								Банк) приняло решение о переезде в новую штаб-квартиру, объединив основные подразделения в одном пространстве.
								Новая центральная штаб-квартира, получившая название <br> T-Space, расположилась в бизнес-центре AFI Square на
								Грузинском Валу и&nbsp;заняла две башни на <b>20</b> и <b>13</b> этажей, общей площадью <b>90 000 м²</b>.
							p.
								Генеральным подрядчиком строительных и инженерных работ выступила компания СТИ, которая обеспечила проектирование,
								возведение, внутреннюю отделку и инженерное оснащение комплекса. Одним из&nbsp;ключевых субподрядчиков стал сетевой
								интегратор ИЦ ТЕЛЕКОМ-СЕРВИС, отвечавший за проектирование и построение кабельной инфраструктуры и&nbsp;локальной
								вычислительной сети (ЛВС), включая Wi-Fi-покрытие всех помещений офисного пространства на 33 этажах бизнес-центра.
					.slideshow__slider
						.swiper
							.swiper-wrapper
								.slideshow__slide.swiper-slide
									+picture('slideshow/1', 'jpg', 'slideshow__image')
								.slideshow__slide.swiper-slide
									+picture('slideshow/1', 'jpg', 'slideshow__image')
						.slideshow__nav.swiper-nav
							.swiper-btn-prev
								+icon('arrow-left')(width='13', height='12')
							.swiper-btn-next
								+icon('arrow-right')(width='13', height='12')
				.filled-parts
					.filled-parts__wrapper
						+icon('interviews-bg', 'filled-parts__bg-mobile')
						+icon('filled-bg', 'filled-parts__bg')
						h2.filled-parts__subtitle.article-subtitle Т-Банк — давний и надежный клиент компании ИЦ ТЕЛЕКОМ-СЕРВИС
						.filled-parts__text.article-text.
							Проекты ИЦ ТЕЛЕКОМ-СЕРВИС по созданию ИТ и инженерной инфраструктуры для ключевых московских и региональных
							подразделений крупнейшего онлайн-провайдера финансовых услуг стали залогом коммерческого <br> успеха Т-Банка
							и сыграли важную роль в его становлении <br> как ведущего игрока на рынке.
						.filled-parts__text.filled-parts__text--right.article-text.
							На сегодняшний день в рамках сотрудничества с Т-Банком специалисты ИЦ ТЕЛЕКОМ-СЕРВИС реализуют ряд новых
							амбициозных ИТ-проектов. В&nbsp;их числе — построение инженерной инфраструктуры для московского «Центрального
							университета» и общежития Т-Банка, а также создание инфраструктуры для нового филиала Т-Банка в Санкт-Петербурге.
			.container
				.text-columns
					h2.article-subtitle О проекте и выбранных решениях
					.text-columns__wrapper
						.article-text.
							Задача интегратора заключалась в создании современной технологической платформы, обеспечивающей бесперебойную
							работу около 8 000 сотрудников банка, в том числе подразделений «Т-Страхование», «Т-Мобайл», «Т-Образование»,
							«Т-Путешествия», «Центр Разработки» и других. Пространство нового офиса включает open space-зоны, рабочие кабинеты,
							переговорные, серверные, конференц-залы, столовые, фитнес-комплекс и двухуровневый подземный паркинг.
						.article-text.
							Для обеспечения эффективной стационарной и мобильной работы сотрудников специалисты ИЦ ТЕЛЕКОМ-СЕРВИС выбрали
							оборудование российского производителя Eurolan, обеспечивающее выгодное соотношение цены, качества и надежности.
							Использованные решения соответствуют международным стандартам ISO/IEC 11801, EIA/TIA 568-C, EN 50173, а также
							ГОСТ Р 53246-2008. Важным преимуществом стало наличие 25-летней системной гарантии от производителя.
			.horizontal-slider
				.container
					h2.article-subtitle Реализация проекта
					.horizontal-slider__text.article-text Специалисты ИЦ ТЕЛЕКОМ-СЕРВИС выполнили масштабный комплекс задач:
				.container.container--big
					.horizontal-slider__slider
						.swiper
							.swiper-wrapper
								.swiper-slide.slider-card
									.slider-card__image
										+picture('horizontal-slider/1', 'jpg')
									.slider-card__text Проектирование и монтаж 50&nbsp;000 портов структурированной кабельной системы (СКС)
								.swiper-slide.slider-card
									.slider-card__image
										+picture('horizontal-slider/2', 'jpg')
									.slider-card__text Прокладка 2 100 км медного и&nbsp;оптоволоконного кабеля, что&nbsp;сопоставимо с расстоянием от Москвы до Тюмени
								.swiper-slide.slider-card
									.slider-card__image
										+picture('horizontal-slider/3', 'jpg')
									.slider-card__text Создание современной сети Wi-Fi, обеспечивающей стабильное подключение по всей территории комплекса
								.swiper-slide.slider-card
									.slider-card__image
										+picture('horizontal-slider/4', 'jpg')
									.slider-card__text Развертывание комплексных систем безопасности, включая видеонаблюдение и контроль доступа
						.horizontal-slider__nav.swiper-nav.swiper-nav--big
							.swiper-btn-prev
								+icon('arrow-left-big')(width='19', height='13')
							.swiper-btn-next
								+icon('arrow-right-big')(width='19', height='13')
			.container.container--big
				.simple-parts
					.simple-parts__wrapper
						.simple-parts__text.article-text
							.simple-parts__angle-1
							span.
								В процессе работы сотрудники ИЦ ТЕЛЕКОМ-СЕРВИС преодолевали серьезные физические нагрузки: монтажники
								проходили в день от <b>10</b> до <b>12</b> км по&nbsp;зданию, а иногда расстояние достигало <b>20</b> км.
							.simple-parts__angle-2
						.simple-parts__text.filled-parts__text--right.article-text
							span.
								За время реализации проекта команда перенесла <b>350</b> тонн оборудования, распределенного по <b>33</b> этажам.
			.container
				.text-columns.text-columns--titles
					.text-columns__wrapper
						.text-columns__col
							h2.article-subtitle Инновации и технологии
							.text-columns__text.article-text.
								Проектирование велось с использованием как стандартных 2D-чертежей, так и передовых BIM-технологий, основанных
								на интеллектуальном 3D-моделировании. Применение BIM позволило участникам проекта оперативно обмениваться
								данными, согласовывать документы и моделировать системы на всех этапах жизненного цикла: от концепции до монтажа.
						.text-columns__col
							h2.article-subtitle Результаты
							.text-columns__text.article-text.
								Созданная инфраструктура стала фундаментом для эффективной работы сотрудников Т-Банка. По словам Олега Ивочкина,
								директора Группы  Компаний ТЕЛЕКОМ-СЕРВИС ИТ, этот проект стал флагманским для компании в 2023-2024 годах.
								Технические решения, реализованные в рамках проекта, обеспечивают Т-Банку надежную платформу для дальнейшего
								роста и развития, поддерживая его статус одного из ведущих финтех-игроков в России.
			.container.container--big
				.quote
					.quote__wrapper
						.quote__person
							.quote__image
								+picture('quote-author', 'png')
							.quote__name <b>Олег Ивочкин</b> <br> ИЦ ТЕЛЕКОМ-СЕРВИС
						.quote__text.
							«Мы гордимся тем, что сумели справиться с поставленными задачами в требуемые сроки и с высоким качеством.
							Построенная инженерная и ИТ-инфраструктура позволит сотрудникам успешно осуществлять как коммерческую
							деятельность, так и сложные ИТ-разработки»
			.container
				.custom-content
					h2.article-subtitle Инновации и технологии
					.article-text.
						Проектирование велось с использованием как стандартных 2D-чертежей, так и передовых BIM-технологий, основанных
						на интеллектуальном 3D-моделировании. Применение BIM позволило участникам проекта оперативно обмениваться
						данными, согласовывать документы и моделировать системы на всех этапах жизненного цикла: от концепции до монтажа.
					.custom-content__image-with-caption
						a.custom-content__image(href='/inc/it-project-tbank/images', data-lightbox='image')
							img(src='/inc/it-project-tbank/images', alt='')
						.custom-content__image-caption Олег Ивочкин, ИЦ «Телеком-сервис»

			.container.container--big
				.quote.quote--text-only
					.quote__wrapper
						+icon('quote', 'quote__icon quote__icon--top')
						.quote__text.
							«Мы гордимся тем, что сумели справиться с поставленными задачами в требуемые сроки и с высоким качеством.
							Построенная инженерная и ИТ-инфраструктура позволит сотрудникам успешно осуществлять как коммерческую
							деятельность, так и сложные ИТ-разработки»
						+icon('quote', 'quote__icon')
			
			.container
				.filled-parts.filled-parts--smooth
					.filled-parts__wrapper
						+icon('interviews-bg', 'filled-parts__bg-mobile')
						.filled-parts__text.article-text.
							Проекты ИЦ ТЕЛЕКОМ-СЕРВИС по созданию ИТ и инженерной инфраструктуры для ключевых московских и региональных
							подразделений крупнейшего онлайн-провайдера финансовых услуг стали залогом коммерческого успеха Т-Банка
							и сыграли важную роль в его становлении как ведущего игрока на рынке.
