/* Breakpoints */
$media-list: (
	'm': 0,
	't': 575,
	'ti': 767,
	'tl': 991,
	'd': 1279,
	'dl': 1439,
	'dxl': 1679,
);

/* Fonts */
$mainFont: 'MyriadPro', sans-serif;
$secondFont: 'GTWalsheimPro', sans-serif;

/* Colors */
$black: #000000;
$white: #ffffff;
$color-title: #333333;
$color-window: #fcde2c;
$color-border: #ffdd2d;
$color-text: #081c2a;
$color-fill: #e6eef5;
$color-quote-image: #f3f4f6;
